body {
	background-color: #373737;
}

#main_window h1 {
	text-align: center;
	color: #FFD700;
	font-size: 60px;
	font-family: 'Agbalumo', sans-serif;
}

#main_window p {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 70px;
	font-weight: 600;
	border: 6px;
	color: #ffe666;
	border-radius: 10px;
	width: 10vw;
	height: 10vh;
	margin: 0 auto;
	border-style: solid;
	border-color: #FFD700;
	animation: borderAnimation 3s ease infinite;
}

@keyframes borderAnimation {
	0% {
		border-color: #FFD700;
	}
	25% {
		border-color: #EEE8AA;
	}
	75% {
		border-color: #F0E68C;
	}
	100% {
		border-color: #FFD700;
	}
}

#child_window h1 {
	text-align: center;
	color: #FFD700;
	font-size: 60px;
	font-family: 'Agbalumo', sans-serif;
}

#child_window p {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 15vh;
	font-weight: 600;
	border: 6px;
	color: #ffe666;
	border-radius: 10px;
	width: 20vw;
	height: 20vh;
	margin: 0 auto;
	text-align: center;
	border-style: solid;
	border-color: #EEE8AA;
	animation: borderAnimation 5s ease infinite;
}